<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>css</title>
    <style>
      .container {
        background-color: antiquewhite;
        border: red solid 5px;
        padding: 15px;
        width: 600px;
        margin: 15px auto;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Hello World</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Necessitatibus
        harum provident at deserunt sequi commodi expedita, illum corporis! Iste
        cumque molestias ad optio cum dolorum corporis deserunt vitae aliquid
        saepe.
      </p>
    </div>
  </body>
</html>
