<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>css</title>
    <style>
      p {
        background-color: tomato;
        width: 400px;
        height: 200px;
        text-align: justify;
      }
      img {
        height: 200px;
        width: 180px;
        float: right;
      }
    </style>
  </head>
  <body>
    <h1>Hello World</h1>
    <p>
      <img src="../css/team-01.jpg" alt="" />
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum veniam enim,
      dolore tenetur esse quisquam cumque incidunt suscipit totam pariatur unde
      vitae optio ex ullam praesentium nobis nostrum necessitatibus ad?
    </p>
  </body>
</html>
