<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>css</title>
    <style>
      * {
        font-family: Arial, Helvetica, sans-serif;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
      }
      nav {
        background-color: rgb(4, 19, 104);
        width: 100%;
      }
      nav a {
        color: white;
        text-decoration: none;
        display: inline-block;
        padding: 10px 20px;
      }
      nav a:hover {
        background-color: orangered;
        transition: all 0.3s;
      }
    </style>
  </head>
  <body>
    <nav>
      <a href="#">Home</a>
      <a href="#">About</a>
      <a href="#">Blog</a>
      <a href="#">Services</a>
      <a href="#">Gallery</a>
      <a href="#">Contact</a>
    </nav>
  </body>
</html>
