/* #primaryNav */
#primaryNav ul li {
  position: relative;
}
#primaryNav ul li a {
  padding: 10px 30px;
}
#primaryNav ul li a::before {
  content: "/";
  position: absolute;
  right: 0;
}
#primaryNav ul li:last-child a::before {
  content: "";
}

/* carousel */
.carousel-item img {
  height: 500px;
  object-fit: cover;
}

/* #showcase */
#showcase .title-bar {
  background-color: grey;
  height: 4px;
  width: 60px;
  display: inline-block;
  border-radius: 4px;
  margin: 15px 0;
}
